Repository enactjs/agate-apps, pull requests merged in 2018-11, with the labels that each got.

#83 Basic Copilot implementation
  .gitignore
  components/API.js
  components/package.json
  console/package-lock.json
  console/package.json
  console/src/App/App.js
  console/src/App/AppContextProvider.js
  console/src/components/CompactAppList/CompactAppList.js
  console/src/components/MapCore/MapCore.js
  console/src/views/AppList.js
  console/src/views/Multimedia.less
  console/src/views/MultimediaPanel.js
  console/src/views/youtubeapi.json
  copilot/package.json
  copilot/src/App/App.js
  copilot/src/App/App.less
  service-layer/src/app.js
Labels: Co-Pilot App, Console App, enhancement

#85 ServiceLayer
  console/config.sample.js
  console/package.json
  console/src/App/App.js
  console/src/App/AppContextProvider.js
  console/src/components/CompactMap/CompactMap.js
  console/src/components/MapCore/MapCore.js
  console/src/components/MapCore/MapCore.less
  console/src/data/ServiceLayer.js
  console/src/data/connector.js
  console/src/data/conversion.js
  console/src/views/Home.js
Labels: Console App, enhancement, new component

#87 PLAT-68544: User management: Add support to reset single user back to a known state for the demo
  console/src/App/AppContextProvider.js
  console/src/components/UserSelectionPopup/UserSelectionPopup.js
Labels: Console App, enhancement

#91 MapCore: Add Car Layer
  console/src/components/Dashboard/svg/car.png
  console/src/components/MapCore/MapCore.js
  console/src/components/MapCore/MapCore.less
  console/src/data/ServiceLayer.js
  console/src/data/conversion.js
Labels: Console App, enhancement

#94 PLAT-68568: added send eta to copilot apps
  components/Communicator.js
  console/src/components/MapCore/MapCore.js
  console/src/data/ServiceLayer.js
  copilot/src/App/App.js
Labels: Co-Pilot App, Communication Server, Console App, enhancement
